body {
        margin: 0px;
        padding: 0px;
		background:#607d8b;
      }
li {
		border: solid 1px;
		background-color:#9e9e9e;
    	padding: 5px;
    	list-style: none;
    	font-family: trebuchet ms;
    	text-align: justify;
    	word-wrap:break-word;
}
#colorslist > li {display:inline-block}
#colorslist {position: absolute;width: 100%;left: 1px;padding-left: 25px;padding-right: 0px;};


ul {margin:0;padding:0;}
input {margin:10px;}
input[type=color] {width: 20px;margin: 1px;}
pre {border: solid 1px;margin: 0px;}
#resultpre{display:block;overflow: auto;background-color: #eeeeee;word-break: normal !important;word-wrap: normal !important;white-space: pre !important;max-height:540px;margin-top: 118px;}
#result{position:fixed;right:100px;width:600px;height:700px;background:white;top:100px;border: solid 10px;}
canvas {cursor:pointer;}
#colorslist > li:nth-child(2) {background-color: red;}
#colorslist > li {cursor:pointer;}
